body{
    flex-direction: column;
}

.users-container{
    width: 20%;
    border: 1px black solid;
    border-radius: 10px;
    overflow: hidden
}

@media only screen and (max-device-width: 900px){
    .users-container{
        width: 80%;
    }
}

.user{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.user .username{
    word-wrap: break-word;
}

.user:nth-child(even){
    background: #eee;
}

.user:first-child{
    background: #DAA520;
}

.user:nth-child(2){
    background: #C0C0C0;
}

.user:nth-child(3){
    background: #CD7F32;
}