body{
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

.go-back{
    border-radius: 10px;
    border: 1px black solid;
    font-size: medium;
    align-self: flex-start;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: .5%;
    overflow-y: auto;
    overflow-x: hidden;
}

.users-container{
    width: 100%;
    border: 1px black solid;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 2% 0%;
}

@media only screen and (max-device-width: 900px){
    .container{
        width: 80%;
    }
}

.user{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.user .username{
    word-wrap: break-word;
}

.user .difficulty-container{
    display: flex;
    justify-content: space-between;
    width: 75px;
}

.user .difficulty-container p{
    margin-right: 2%;
}

.user:nth-child(even){
    background: #eee;
}

.previous-button, .next-button{
    visibility: hidden;
}