body{
    flex-direction: column;
    height: 100%;
    align-items: center;
}

img{
    height: 40%;
}

button{
    margin-top: 1%;
    border-radius: 10px;
    border: 1px black solid;
    padding: 2% 3% 2% 3%;
}

.validation{
    color: red;
    visibility: hidden;
}

@media only screen and (min-device-width: 901px){
    .show-leaderboard-button{
        padding: 1% 2% 1% 2%;
    }
}