html, body{
    height: 100%;
    margin: 0;
    user-select: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    overscroll-behavior: contain;
    font-family: "Olympic Sans", "Inter", Helvetica, Arial, sans-serif;
    font-size: larger;
}

button{
    font-size: large;
}